.mft-bg{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fd-1 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fd-2 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fd-3 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}

.fd-4 .mask-top{background: url(../img/sections/bg/3.jpg)no-repeat;background-size: cover;}

.fd-5 .mask-top{background: url(../img/sections/blog/big-5.jpg)no-repeat;background-size: cover;}



.fe-1 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fe-2 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fe-3 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}

.fe-4 .mask-top{background: url(../img/sections/bg/3.jpg)no-repeat;background-size: cover;}

.fe-5 .mask-top{background: url(../img/sections/blog/big-5.jpg)no-repeat;background-size: cover;}

.fe-6 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fe-7 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fe-8 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}

.fe-9 .mask-top{background: url(../img/sections/bg/3.jpg)no-repeat;background-size: cover;}

.fe-10 .mask-top{background: url(../img/sections/blog/big-5.jpg)no-repeat;background-size: cover;}



.ss-1 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.ss-2 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.ss-3 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}

.ss-4 .mask-top{background: url(../img/sections/bg/3.jpg)no-repeat;background-size: cover;}



.fv-1 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fv-2 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fv-3 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}

.fv-4 .mask-top{background: url(../img/sections/bg/3.jpg)no-repeat;background-size: cover;}

.fv-5 .mask-top{background: url(../img/sections/blog/big-5.jpg)no-repeat;background-size: cover;}

.fv-6 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fv-7 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fv-8 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}



.fa-1 .mask-top{background: url(../img/sections/bg/4.jpg)no-repeat;background-size: cover;}

.fa-2 .mask-top{background: url(../img/sections/bg/5.jpg)no-repeat;background-size: cover;}

.fa-3 .mask-top{background: url(../img/sections/bg/6.jpg)no-repeat;background-size: cover;}



.special-feature h4{color: #fff;}

.layer{position: absolute;height: 100%;width: 100%;top:0;left: 0;background: rgba(0,0,0,.5);}

#footer .copyright{padding: 15px 0px;}

.toTop{padding: 5px 3px;color: #fff;position: fixed;bottom: 5px;right: 5px;display: none;width: 35px;height: 35px;text-align: center;background-color: #ff0000;border-radius: 50%;}

.toTop i{margin-top: 5px;}

.copyright a.toTop{color: #fff;}

.carousel-control.left .fa, .carousel-control.right .fa{color: #ff0000;}

.product-page .carousel-indicators{display: none;}

.product-page .description{color:#555;}

.section-title{margin-bottom: 20px;}

.section-title.left-title h2{text-align: left;color: #ff0000;font-size: 24px;}

.section-title.left-title h2:before{right: auto;left: 0;}

table thead{font-weight: bold;}

.v-center, .table>thead>tr>td.v-center{vertical-align: middle;}

.pl-15{padding-left: 15px;}

#who-we-are{padding-bottom: 50px;}

.grid-item{height: 300px;overflow: hidden;position: relative;width: calc(96.9% / 4);display: inline-block;margin:3px;}

.grid-item h4{font-weight: bold;}

.grid-item:hover > .figcaption{opacity: 1;}

.projects-wrap .figcaption{color: #333;top:0;left: 0;height: 100%;transform: translateY(0);    display: flex;

    align-items: center;

    flex-flow: column;

    justify-content: center;}

.grid-item img{width: 100%;height: 100%;border: 1px solid #ff0000;object-fit: cover;-webkit-object-fit: cover;-moz-object-fit: cover;transition: .5s ease-in-out;-webkit-transition: .5s ease-in-out;box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);}

.figcaption{transition: .5s ease-in-out;-webkit-transition: .5s ease-in-out;}

.blog.timeliner >li .timeline-icon .date{display: inline-block;}

.blog.timeliner >li .timeline-icon .date span{font-size: 22px;}

.blog.timeliner >li .timeline-panel:before{top: 42px;}

.blog.timeliner >li .timeline-panel:after{top: 43px;}

.blog.timeliner > li .timeline-panel{padding: 30px 50px;}

.blog.timeliner > li .timeline-panel .post-content{font-size: 20px;font-weight: 900;text-align: center;}

.red-icons{display: none;}

ul.custom-ul{padding-left: 15px;margin-bottom:8px;}

ul.custom-ul li{list-style: disc;}

.tab-content > .tab-pane{padding: 10px 0 0;}

.special-feature{text-align: center;}

.special-feature .col-md-3{display: inline-block;width: 24.7%;float: none;margin-bottom: 25px;}

.breadcrumb>li+li:before{color: #fff;}

/*.special-feature .mask-bottom{display: none;}*/



.career-title{margin-top: 0;margin-bottom: 0;font-size: 16px;color: inherit;position: relative;}

.career-title:before{content: "\f105";display: block;font-family: FontAwesome;left: 7px;position: absolute;top: 5px;}

.career-title > p {padding: 9px 9px 9px 25px;line-height: 22px;border-bottom: 1px dotted #f2f2f2;

    color: #1e1e1e;font-weight: 600;transition: background-color 0.2s linear 0s;}

#map{height: 455px;border-radius: 5px;-webkit-border-radius: 5px;}

textarea{resize: none;}



span.pro-name {display: block;background: #f2f2f2;color: #555;padding: 5px;font-weight: bold;font-size: 16px;transition: .5s ease-in-out;-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;/*height: 58px;*//*align-items: center;*/text-transform: uppercase;}
.prod-detail-title{text-transform: uppercase;}
.prod-wrap:hover span.pro-name{background-color: #ff0000;color: #fff;}

.prod-wrap:hover img{filter: grayscale(0%);-webkit-filter: grayscale(0%);}

.accessories-grid .prod-wrap img{filter: grayscale(0%);-webkit-filter: grayscale(0%);}

.accessories-grid .prod-wrap span.pro-name{color: #333;display: block;/*margin-top: 12px;*/}

.accessories-grid .prod-wrap:hover{cursor: default;}

.accessories-grid.special-feature a{margin-bottom: 25px;}

/*.accessories-grid .prod-img{border-radius: 50%;height: 250px;width: 250px;padding: 40px;}*/

.accessories-grid .prod-wrap:hover span.pro-name{background: #f2f2f2;}



span.prod-img {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;height: 280px;border: 1px solid #f2f2f2;align-items: center;padding: 3px;justify-content: center;}

span.prod-img img{filter: grayscale(100%);-webkit-filter: grayscale(80%);transition: .5s ease-in-out;-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;max-height: 100%;}

.pro-name small{font-size: 70%;display: block;}

.mb-10{margin-bottom: 10px;}



.carousel-inner>.item>img.m-auto{margin:auto;}

.mt-0{margin-top: 0px;}

.mb-0{margin-bottom: 0px;}

.mt-15{margin-top: 15px;}

.mb-25{margin-bottom: 25px;}

.mb-45{margin-bottom: 45px;}

table.td-20 tr td{width: 16.66%;}

.section-title.left-title h2.black{color: #333;}

/*.nav-tabs>li.active>a{background: #ff0000;color: #fff;}*/

.mega-menu .mega-meue-bristol-icons{float: none;display: inline-block;}

.special-feature a{position: relative;/*display: grid;*/}

/*.prod-name{position: absolute;bottom: 0;width: 100%;left: 0;}*/

.pl-15{padding-left: 15px;}

.mt-35{margin-top: 35px;}



.divider.divider-center, .divider.divider-center.divider-short {

    text-align: center;

}



.divider {

    position: relative;

    overflow: hidden;

    margin: 35px 0;

    color: #e5e5e5;

    width: 100%;

}

.divider.divider-center.divider-short:before, .divider.divider-center:before, .divider:after {

    content: '';

    position: absolute;

    width: 100%;

    top: 8px;

    left: 30px;

    height: 0;

    border-top: 1px solid #eee;

    margin-left: -20px;

}



.divider.divider-center.divider-short:before {

    left: auto!important;

    right: 50%;

    margin-right: 20px;

    width: 15%;

}



.divider i {

    position: relative;

    width: 18px;

    height: 18px;

    line-height: 1;

    font-size: 18px!important;

    text-align: center;

}



.divider.divider-center.divider-short:after {

    left: 50%!important;

    right: auto!important;

    margin-left: 20px;

    width: 15%;

}



a:hover,a:focus{

    outline: none;

    text-decoration: none;

}

.tab{ text-align: center; }

.tab .nav-tabs{

    display: inline-block;

    position: relative;

    border-bottom: none;

}

.tab .nav-tabs li{

    margin: 0 25px;

}

.tab .nav-tabs li a{

    display: block;

    padding: 80px 20px 10px;

    background: #fff;

    font-size: 17px;

    font-weight: 700;

    color: #999;

    text-transform: uppercase;

    text-align: center;

    border-radius: 0;

    border: none;

    border-bottom: 2px solid #fff;

    margin-right: 0;

    overflow: hidden;

    z-index: 1;

    position: relative;

    transition: all 0.3s ease 0s;

}

.tab .nav-tabs li a span{

    display: block;

    width: 50px;

    height: 50px;

    line-height: 50px;

    background: #ff6666;

    margin: auto;

    font-size: 22px;

    color: #f2f2f2;

    border-radius: 5px;

    position: absolute;

    top: 10px;

    left: 0;

    right: 0;

    transform: rotate(45deg);

}

.tab .nav-tabs li.active a span{

    background: #ff0000;

    color: #fff;

}

.tab .nav-tabs li a span i{

    transform: rotate(-45deg);

}

.tab .nav-tabs li.active a,

.tab .nav-tabs li a:hover{

    color: #555;

    border: none;

    border-bottom: 2px solid #fff;

}

.tab .nav-tabs li.active a{

    border-bottom: 2px solid #ff0000;

}

.tab .tab-content{

    padding: 20px;

    margin-top: -5px;

    font-size: 15px;

    color: #757575;

    line-height: 26px;

    text-align: left;

    /*border-top: 1px solid #e5e5e5;*/

}

.tab .tab-content h3{

    font-size: 24px;

    margin-top: 0;

}



.media-tab .post-meta, .media-tab .post-item, .media-tab .post-title{color: #333;}

a.white, a.white:visited{color: #fff;}

.font-18{font-size: 18px;}

h5.light{font-weight: 300;line-height: 30px;font-family: 'Arimo', sans-serif;text-transform: initial;}

a.red{color: #ff0000;}

.pb-15{padding-bottom: 15px;}

.pt-50{padding-top: 50px;}

.pb-50{padding-bottom: 50px;}

.pt-0{padding-top: 0;}

.mb-0{margin-bottom: 0px;}

.custom-widget{padding: 40px;}

.custom-widget li {background: url(../img/widget-link.png) left top no-repeat;border: 0!important;color: #444;font-size: 20px;display: block;padding: 0 3px 0 12px;margin-bottom: 15px;line-height: 28px;}

ul.tab-nav.tab-nav2 {border-bottom: 0;}

ul.tab-nav.tab-nav2 li:first-child {margin-left: 0;border-left: 0;}

ul.tab-nav.tab-nav2 li {border: 0;}

.bakery-menu .tab-content{padding: 35px 0px;}

p{font-size: 15px;}

.col-padding{padding: 60px;}

.dark{color: #333;}

.tp-caption{padding-left: 20px;}

.nav>li>a{padding: 15px 12px;}

/*.pic1{height: 328px;}

.pic2{height: 274px;}

.pic3{height: 274px;}*/

.d-flex{display: flex;}

.d-flex > div{flex-basis: 50%;align-items: center;display: flex;}

.video-wrap{height: 500px;}

.gallery {

    display: flex;

    flex-wrap: wrap;

    /* Compensate for excess margin on outer gallery flex items */

    margin: -1rem -1rem;

}



.gallery-item {

    /* Minimum width of 24rem and grow to fit available space */

    flex: 1 0 24rem;

    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */

    margin: 1rem;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

    overflow: hidden;

    position: relative;

    height: 350px;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}



.gallery-image {

    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: transform 400ms ease-out;

}



/*.gallery-image:hover {

    transform: scale(1.15);

}

*/

.award-layer {

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    background: rgba(255, 0, 0, .5);

    text-align: center;

    display: flex;

    flex-flow: column;

    align-items: center;

    justify-content: center;

    transform: scale(0);

    transition: .5s ease-in-out;

    -webkit-transition: .5s ease-in-out;

    -moz-transition: .5s ease-in-out;

    color: #fff;

    font-size: 24px;

    font-weight: bold;

}

.award-layer a{display: block;text-align: center;color: #fff;margin-top: 10px;}

.gallery-item:hover .award-layer{

    transform: scale(1);

}



@supports (display: grid) {

    .gallery {

        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

        grid-gap: 2rem;

    }



    .gallery,

    .gallery-item {

        margin: 0;

    }

}





/*.tp-banner{height: 100% !important;max-height: 100% !important;}

.tp-banner .elements{height: 100% !important; max-height: 100% !important;}

.tp-banner li div{height: 100% !important;max-height: 100% !important;}*/

/*video {object-fit: cover;}*/



.projects-img{position: relative;border:1px solid #f2f2f2;height: 320px;overflow: hidden;}

.projects-hover{width: 100%;height: 100%;display: flex;position: absolute;top: 0;background: rgba(255,255,255,.4);align-items: center;justify-content: center;font-size: 24px;opacity: 0;transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;transform: scale(0);-webkit-transform: scale(0);}

.projects-img:hover .projects-hover{opacity: 1;transform: scale(1);-webkit-transform: scale(1);}

.projects-img img{height: 100%;object-fit: cover;-webkit-object-fit: cover;}

.mb-75{margin-bottom: 75px;}

.project-slider .owl-buttons i, .news-slider .owl-buttons i{font-size: 30px;color: #ff0000;}

.news-slider .entry-title{margin-top: 20px;}

.mb-15{margin-bottom: 15px;}

.no-capt{text-transform: none;}

.email-link{color: #ff0000;}



a:hover,a:focus{

    outline: none;

    text-decoration: none;

}

.media-tab{

    margin-top: 45px;

}

.media-tab.tab .nav-tabs{

    border: none;

    margin-bottom: 20px;

}

.media-tab.tab .nav-tabs li{

    margin: 0px 5px;

}

.media-tab.tab .nav-tabs li a{

    margin-right: 15px;

    padding: 10px 15px;

    font-size: 18px;

    font-weight: 700;

    color: #fff;

    background: #ff0000;

    border: 1px solid #ff0000;

    border-radius: 0;

    box-shadow: 5px 5px 0 0 #999;

    position: relative;

    transition: all 0.5s ease 0s;

    width: 150px;

}

.media-tab.tab .nav-tabs li a:hover,

.media-tab.tab .nav-tabs li.active a{

    color: #ff0000;

    background: #fff;

    border: 1px solid #ff0000;

    box-shadow: -5px -5px 0 0 #999;

}

.prod-main-wrap{position: relative;}

.prod-main-wrap .image-bg.content-in{position: static;font-size: 30px;font-weight: bold;color: #fff;letter-spacing: 1px;padding:180px 0px;text-shadow: 0px 0px 10px #000000;font-family: Oswald,sans-serif;}

.pagination1 li span, .pagination1 li a{width: 150px;padding: 15px;font-size: 18px;}

.team-member {background-color: #ffffff;text-align: center;position: relative;overflow: hidden;margin-bottom: 30px;border-radius: 4px;border: 1px solid #eeeeee;

    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.03);}

.team-desc {padding: 50px;text-align: center;}

.team-member .team-desc > p {margin-top: 10px;font-size: 18px;line-height: 1.8;margin-bottom: 30px;}

.align-center {display: inline-flex;text-align: center;}

body:not(.device-touch) .button {

    -webkit-transition: all .2s ease-in-out;

    -o-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

}

.button-border.button-blue {

    color: #1265a8;

    border-color: #1265a8;

}

.button.button-border:hover{background: #ff0000;color: #fff;}

.button.button-border {

    border: 2px solid #ff0000;

    background-color: transparent;

    color: #ff0000;

    line-height: 36px;

    font-weight: 700;

    text-shadow: none;

}

.button.button-rounded {

    border-radius: 3px;

}

.button-blue {

    background-color: #1265a8;

}

.button {

    display: inline-block;

    cursor: pointer;

    outline: 0;

    white-space: nowrap;

    margin: 5px;

    padding: 0 22px;

    font-size: 14px;

    height: 40px;

    line-height: 40px;

    background-color: #1d2673;

    color: #fff;

    font-weight: 700;

    text-transform: uppercase;

    letter-spacing: 1px;

    border: 0;

    text-shadow: 1px 1px 1px rgba(0,0,0,.2);

}

.button, .button i, .countdown-row, .ievent {

    position: relative;

}

.button i {

    top: 1px;

    line-height: 1;

    margin-right: 5px;

    width: 16px;

    text-align: center;

}



.button, .button i, .countdown-row, .ievent {

    position: relative;

}

.video-container {

    position:relative;

    padding-bottom:56.25%;

    padding-top:30px;

    height:0;

    overflow:hidden;

    margin-bottom: 35px;

}



.video-container iframe, .video-container object, .video-container embed {

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

}





@media only screen and (max-width: 479px){

    .gallery, .gallery-item{margin: 0px 0px 25px;}

    .tab .nav-tabs li{

        width: 100%;

        text-align: center;

        margin-bottom: 5px;

    }

    .tab .nav-tabs li:last-child{

        margin-bottom: 0;

    }

    .special-feature .col-md-3{width: 100%;display: block;}

    .d-flex{flex-flow: column;}

    .d-flex .col-padding{padding:30px;}

    .pic1, .pic2, .pic3{height: 250px;}

    .pic2{order: 2;}

    #who-we-are{padding-bottom: 0px;}

    .video-wrap{height: auto;}

}



@media only screen and (max-width: 479px){

    .media-tab.tab .nav-tabs li{

        width: 100%;

        text-align: center;

        margin-bottom: 15px;

    }

}





@media screen and (min-width: 1600px){

    p{font-size: 16px;}

    .d-flex{height: 320px;}

}



@media screen and (min-width: 1900px){

    p{font-size: 18px;}

    /*.pic1{height: 400px;}

    .pic2{height: 274px;}

    .pic3{height: 274px;}*/

    .d-flex{height: 350px;}

}





iframe {
  width: 100% !important;
  height: 100% !important;
}
.home-video{display: flex;flex-wrap: wrap;padding-top:10px;align-items: center;}
.home-video__container{flex-basis: 50%;height: 220px;padding:0 5px;margin-bottom: 44px;}
.home-video__title {
    background: #e6e6e6;
    margin-top: -8px;
    padding: 5px 0;
    font-weight: bold;
    font-size:1.5rem;
    text-align: center;
}